*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: Georgia, 'Times New Roman', Times, serif;
} 
body, html {
    height: 100%;
  }  
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 740px;
    width: 100%;
    text-align: center;
    background-image: url(starry.jpg);
    background-position: center;
    background-repeat: no-repeat;
    position: absolute;
    background-size:cover;
}
#calTemp {
    padding: 20px 50px;
    min-height: 300px;
    border-radius: 5px;
    background-color: transparent;
    box-shadow: 0 0 20px white;
}

label {
    font-size: 40px;
    line-height: 75px;
    color: white;
}
#temp{
    width: 100px;
    height: 35px;
    border-radius: 5px;
    margin: 12px;
    padding: 8px;
    font-size: 20px;
    font-weight: 500;
    border: none;
    outline: none;
}

#temp_dif{
    width: 120px;
    height: 34px;
    border-radius: 5px;
    margin: 12px;
    font-size: 20px;
    font-weight: 500;
    border: none;
    outline: none;
}

#submit {
    width: 100px;
    border-radius: 5px;
    margin: 30px 0 30px 0;
    font-size: 22px;
    background-color: rgb(218 229 220);
    padding: 5px;
    transition: all 0.5s ease;
}

#submit:hover{
    background-color:mistyrose;
    cursor: pointer;
    box-shadow: 0 0 20px white;
}
#result{
    font-size: 30px;
    color: white;
}

